.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user{
  background: palegreen;
  width: 300px;
  height: 150px;
  text-align: center;
  padding: 25px;
  margin: 10px auto;
  border: 1px dotted black;
  border-radius: 8px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #fff;
  background: #2b2eff;
}

.paginationActive a {
  color: #fff;
  background: #2b2eff;
}